flask
flask-wtf
# Wrapper for sqlalchemy
flask-sqlalchemy
# Track database updates
sqlalchemy-migrate
# Handle users logged in state
flask-login
# Provide authentication
flask-openid
# Another DB for text search
flask-whooshalchemy
# Tool to handle email
flask-mail
# flask-babel
# guess_language
# flipflop
# coverage
