<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>Welcome to microblog</title>
        {% endif %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <!-- Eneable bootstrap responsive mode -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Render time acording browser locales -->
        <script src="/static/js/moment.min.js"></script>
        {% if g.locale != 'en' %}
        <script src="/static/js/moment-{{ g.locale }}.min.js"></script>
        {% endif %}
        <script>
            function translate(sourceLang, destLang, sourceID, destId, loadingId) {
                $(destId).hide();
                $(loadingId).show();
                $.post('/translate', {
                    text: $(sourceId).text(),
                    sourceLang: sourceLang,
                    destLang: destLang
                }).done(function(translated) {
                    $(destId).text(translated['text'])
                    $(loadingId).hide();
                    $(destId).show();
                }).fail(function() {
                    $(destId).text("{{ _('Error: Could not contact server.') }}");
                    $(loadingId).hide();
                    $(destId).show();
                });
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{{ url_for('index') }}">{{ _('Home') }}</a>
                    <ul class="nav">
                    {% if g.user.is_authenticated() %}
                        <!-- The user function require nickname argument -->
                        <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a></li>
                        <li><a href="{{ url_for('logout')}}">Logout</a></li>
                    {% endif %}
                    </ul>
                    {% if g.user.is_authenticated() %}
                        <form class="navbar-search pull-right" action="{{ url_for('search')}}" method="post" name="search">
                                <div class="input-append">
                                    {{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20)}}
                                    <button type="submit" class="btn">Search</button>
                                </div>
                            </form>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="span12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
