{% extends "base.html" %}
{% block content %}
    <div class="well">
        <h1>Hi, {{ g.user.nickname }}!</h1>
        <form class="form-horizontal" action="" method="post" name="post">
            {{ form.hidden_tag() }}
            <div class="control-group">
                <label class="control-label">Say something:</label>
                <div class="controls">
                    {{ form.post(size=30, maxlength=140) }}
                    {% for error in form.post.errors %}
                        <span style="color: red;"> [{{ error }}]</span><br>
                    {% endfor %}
                    <button type="submit" class="btn">Post it!</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Posts is a paginate object -->
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    <ul class="pager">
        {% if posts.has_prev %}
        <li class="previous">
            <a href="{{ url_for('index', page=posts.prev_num)}}">&larr; Newer posts</a>
        </li>
        {% else %}
        <li class="previous disabled">
            &larr; Newer posts
        </li>
        {% endif %}
        {% if posts.has_next %}
        <li class="next">
            <a href="{{ url_for('index', page=posts.next_num)}}"> Older posts &rarr;</a>
        </li>
        {% else %}
        <li class="next disabled">
            Older posts &rarr;
        </li>
        {% endif %}
    </ul>
{% endblock %}
